<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
</head>
<body>
    <form id="log-in-form" class="account-form" method="POST" action="/login">
        <input type="text" name="name" placeholder="Name"><br><br>
        <!-- <input type="password" name="password" placeholder="Password"><br><br> -->
        <input type="submit" value="Log In Button">
    </form>
    <div>
        <input type="submit" value="DepositPage" onclick="goToDepositPage()">
    </div>
    <script type="text/javascript">
        function goToDepositPage(){
            location.href = "/deposit";
        }
    </script>
</body>
</html>